<%= form_for @snippet do |f| %>
  <p>
  <%= f.label  :title %>
  <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :language_id %>
    <%= collection_select :snippet, :language_id, Language.all.order('name'), :id, :name %>
    <%= link_to 'Add a language?', controller: 'admin/languages', action: 'new' %>
  </p>
  
  <p class="snippet_edit">
  <%= f.label  :contents %>
  
  <%= f.text_area :contents %>
  </p>
  
  <%= f.submit %>
<% end %>
